<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">
            com.mysql.cj.jdbc.Driver
        </property>
        <property name="connection.url">
            jdbc:mysql://localhost/hibernate2023damb
        </property>
        <property name="connection.username">root</property>
        <property name="connection.password"></property>
        <property name="dialect">
            org.hibernate.dialect.MySQLDialect
        </property>
        <property name="hibernate.show_sql">true</property>


        <mapping class="hibernate.Profesor.Profesor"/>
        <mapping resource="hibernate/Profesor/Profesor.hbm.xml"/>

        <mapping class="hibernate.Direccion.Direccion"/>
        <mapping resource="hibernate/Direccion/Direccion.hbm.xml"/>

        <mapping class="hibernate.Asignatura.Asignatura"/>
        <mapping resource="hibernate/Asignatura/Asignatura.hbm.xml"/>

        <mapping class="hibernate.CorreoElectronico.CorreoElectronico"/>
        <mapping resource="hibernate/CorreoElectronico/CorreoElectronico.hbm.xml"/>
    </session-factory>
</hibernate-configuration>